body {
  background-color: paleturquoise;
}

hr {
  border-style: dotted none none;
  border-color: #f69e7b;
  border-width: 7px;
  width: 10%;
}

h1 {
  color: #0fabbc;
  font-variant: small-caps;
}
h3 {
  color: #0fabbc;
}
